.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  font-weight: 500;
  background-color: var(--background2);
  border-radius: 5px;
  box-shadow: 0 0 60px var(--container-shadow);
  padding: 1rem 2rem;

  .label:first-child {
    font-size: 1.25rem;
  }

  .value:last-child {
    font-size: 1.5rem;
  }
}
