.container {
  height: 100vh;
  max-width: 576px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    max-width: 992px;
  }

  .appInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;

    .appLogo {
      width: 48px;
      object-fit: contain;
      height: auto;
      margin: 0 1rem;
      filter: drop-shadow(0 0 5px var(--text-highlight));
      opacity: 0.95;
    }
    .appName {
      color: var(--blue);
      font-style: italic;
    }
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    gap: 1rem;
    align-content: center;
  }

  .main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    align-content: center;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 6.25rem;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
  }
}
