.container {
  display: flex;
  align-items: center;
  background-color: var(--background2);
  border-radius: 5px;
  box-shadow: 0 0 60px var(--container-shadow);
  padding: 1rem 2rem;

  .photo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
  }

  .nameContainer {
    margin-left: 1.5rem;

    .name {
      font-size: 1rem;
      font-weight: 600;
      color: var(--title);
    }

    .nameIconWrapper {
      font-size: 1rem;
      margin-top: 0.5rem;
      display: flex;

      .nameIcon {
        margin-right: 0.5rem;
        height: 1rem;
        width: 1rem;
        display: flex;
        svg {
          max-height: 1rem;
        }
      }
    }
  }
}
