@keyframes shadowBarAnimation {
  0% {
    box-shadow: 0 0 10px var(--green);
  }
  50% {
    box-shadow: 0 0 20px var(--green);
  }
  100% {
    box-shadow: 0 0 10px var(--green);
  }
}

.container {
  display: flex;
  align-items: center;

  .initialExperience,
  .targetExperience {
    font-size: 1rem;
  }

  .bar {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color: var(--gray-line);

    margin: 0 1.5rem;
    position: relative;
    .barFill {
      height: 4px;
      border-radius: 4px;
      background-color: var(--green);
      transition: width 1s ease;
      animation: shadowBarAnimation 2s infinite;
    }
  }

  .currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
  }
}
