.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;

  .header {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    gap: 1rem;
    align-content: center;
  }

  .main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
  }
}
