@keyframes iconAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  height: 100%;
  background-color: var(--background2);
  border-radius: 5px;
  box-shadow: 0 0 60px var(--container-shadow);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  .active {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      color: var(--blue);
      font-weight: 600;
      font-size: 1.25rem;
      padding: 0 2rem 1.5rem;
      border-bottom: 1px solid var(--gray-line);
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .contentTitle {
        font-weight: 600;
        font-size: 2rem;
        color: var(--title);
        margin: 1.5rem 0 1rem;
      }

      .contentDescription {
        line-height: 1.5;
      }
    }

    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .button {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 5px;
        color: var(--white);
        font-size: 1rem;
        font-weight: 600;
        transition: filter 0.5s ease, box-shadow 0.5s ease;

        &:hover {
          filter: brightness(0.9);
          box-shadow: 0 0 20px var(--gray-line);
        }
      }

      .buttonFailed {
        background-color: var(--red);
      }

      .buttonSucceeded {
        background-color: var(--green);
      }
    }
  }

  .notActive {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .contentTitle {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
      }

      .contentDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4;
        max-width: 70%;
        margin-top: 3rem;

        .contentIcon {
          margin-bottom: 1rem;
          width: 3rem;
          &.iconAnimation {
            animation: iconAnimation 1s infinite;
          }
        }
      }
    }
  }
}
